 /*  The Website Intro */

.intro{
    background-image: url(../../images/banner.jpg);
    height: 500px;
    background-size: cover;
    background-repeat: no-repeat;
     background-position-y: 50%; 
     
    
}
.intro h2{
    text-align: center;
    color: white;
    padding-top: 17%;
    font-weight: bold;
    font-size: 40px;
    
}

.color{
    background-color: rgba(38, 38, 128, 0.6);
    height: 500px;
}


/*  The About Us Part */
.about{
    font-family: 'Roboto Condensed', sans-serif;
    height: 260px;
    background-color: white;
    padding: 20px;
    width:50%;
    box-shadow: 3px 3px 3px 3px gray;
    margin: auto;
    text-align: center;
    margin-top: 5%;
    
}

.about h2{
    text-transform: capitalize;
    color: grey;
    text-align: center;
    
}

.about button{
    background-color: orange;
    color: white;
    width: 20%;
    border: none;
    padding: 15px;
    font-family: 'Roboto Condensed', sans-serif;
    border-radius: 500px
    
}

/*  The Contact Us Part */
.contact h2{
    text-align: center;
    color: white;
    font-family: 'Roboto Condensed', sans-serif;;
}

.contact{
    background-color: rgba(0, 0, 255, 0.6);
    text-align: center;
    margin-top: 3%;
}

input{
    width: 40% ;
    height: 50px;
    background-color: transparent;
    border-radius: 40px;
    border-color: white;
    color: white;
    
    
}

.contact button{
    background-color: orange;
    color: white; 
    border: none;
    border-radius: 500px;
    width: 8%;
    margin-left: -30%;
    font-family: 'Roboto Condensed', sans-serif;
    /* padding: 10px; */
    line-height: 40px;
    margin-bottom: 1%;
}



label{

    color: white;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-align: justify;   
}


    

select{
    width: 40%;
    height: 50px;
    border-radius: 50px;
    background-color: transparent;
}