/* The Links Beginning */
 
   .links a{
    color: black;
    text-decoration: none;
    font-family:Verdana, Geneva, Tahoma, sans-serif
}  

/* .links a[target]{
    color: red;
    text-decoration: none;
    font-family: Georgia, 'Times New Roman', Times, serif;
}    */

/* John Doe's Profile  */

.profile {
    text-align: center;
    color: gray;
}

.profile h1{
    text-transform: uppercase;
}

/* About Us Part */
.about{
    text-align: center;
    background-color: blue;
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 15px;
}

.about h1{
text-transform: uppercase;
font-family: Verdana, Geneva, Tahoma, sans-serif;
color:white;

}

.about p span{
    color:white;
    font-weight: bolder ;
    
}

.about .first{
    font-size: 50px;
    color: yellow;
    font-style: italic;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
} 

 /*  The Experience Part*/

 .experience h1{
    text-align: center;
    text-transform: uppercase;
    color: black;
    background-color: grey;
 }

 .experience{
     color: grey;
 }
 .experience li{
     list-style-type: lower-alpha;
     font-family: Verdana, Geneva, Tahoma, sans-serif
 }

 .experience h4{
     font-weight: bolder;
 }

/*  The Download Part */
.download{
    text-align: center;
    background-color: blue;
    color: white;
}
.download h1{
    text-transform: uppercase;
}

.download a{
    color: paleturquoise;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.download span{
    color: yellow;
    font-style: italic;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 50px;
    
}
.download p{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}



/*  The Portfolio Part */

.portfolio h1{
    text-transform: uppercase;
    color: grey;
    text-align: center;
}

/*  The Expenses Table */
.table{
   
    background-color: blue;
    color: white;
    margin: auto;
}


.table h1{
    text-transform: uppercase;
    text-align: center;
}
table{
    margin: auto;
}

table tr td:nth-child(4){
    text-align: right;
}
table td:nth-child(3){
    text-align: right;
}
table td:nth-child(2){
    text-align: right;
}

/*  The End */