/*  The Links Part */
.links{
    word-spacing: 20px;
    padding-left: 15px;
}
.links a{
    text-decoration: none;
    font-family:Verdana, Geneva, Tahoma, sans-serif ;
    color: black;
}
.banner{
    margin-top: 15px;
}


/*  John Doe's Profile Part */
.profile .images {
    word-spacing: 10px; 
}
.profile{
    text-align: center;
    margin-top: -130px;
    color: gray;
}
.profile img{
    border-radius: 500px;
}

/*  The Real Work Now */
.background{
    background-image: url(../../images/section-bg.jpg );
    /* height: 900px; */
    background-repeat: no-repeat;
    background-size: cover;
    
}
.overlay{
    background-color: rgba(0,0,225, 0.2);
}
.dcolor{
    text-align: center;
    color: white;
    /* height: 500px; */
    margin-top: 60px;

    
    
}

.background span{
    color: greenyellow;
    font-weight: bolder;

}
.background h2{
    text-transform: uppercase;
    padding: 30px;
}

/*  The EXperience Part */
.omo {
    
    background-color: gray;
}

.omo span{
    text-align: center;
    color: black;
}

.google{
    display: flex;
    background-color: white;
    border-radius: 15px;
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 20px;
    
    
    
}
.alabian{
    display: flex;
    background-color: white;
    border-radius: 15px;
    margin-left: 20px;
    margin-bottom: 20px;
    margin-right: 20px;
}
.exp{
    display: flex;
}

.words ol{
    list-style-type: circle;
}

/*  The Download Part */
.download{
    text-align: center;
    color: white;
}

.download button{
    border: none;
    background-color: greenyellow;
    border-radius: 500px;
    padding: 15px ;
    margin-bottom: 10px;
}

/*  The Portfolio Part */
.port{
    text-align: center;
    text-transform: uppercase;
    color: grey;
}
.port .portfolio-img img{
    width: 420px;
    margin-bottom: 10px;
}

.port .portfolio-img{
    display: flex;
    flex-wrap: wrap;
  
}
 
/*  The Contact Part */
.contact h2{
    text-align: center;
}
.contact .contact-detile{
    display: flex;
}

.form{
    margin-left: 70px;
}

.form .input{
    width: 600px  ;
    height: 30px;
    border-color: rgb(23, 218, 56);
}


.form select{
    width: 600px;
    height: 40px;
    border-color: rgb(23, 218, 56);
}
.textarea{
    width: 600px;
}
.form button{
    background-color: yellowgreen;
    height: 35px;
    color: white;
    border: none;
    border-radius: 20px;
    width: 100px;
}



/*  The Expenses Table */

.maintable{
    background-image: url(../../images/section-bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
    color: white;
    font-weight: bolder;
    font-size: 20px;
    
}
.maintable table{
    margin: auto;
    
}

table tr td:nth-child(4){
    text-align: right;
}
table td:nth-child(3){
    text-align: right;
}
table td:nth-child(2){
    text-align: right;
}
.table-overlay{
    background-color: rgba(0,0,225, 0.3);
}


/*  Thank you for reading. What do you think? */